
<div class="container">
    <h1 class="show-name"><%= @list.name %></h1>
      <% @list.bookmarks.each do |bookmark| %>
        <h2 class="movie-name"><%= bookmark.movie.title %></h2>
        <p class="movie-overview"><%= bookmark.movie.overview %></p>
        <p>Comments:</p>
        <%= bookmark.comment %>
        <p><%= link_to "Delete movie", bookmark_path(bookmark), method: :delete, data: { confirm: "Delete this movie from the list?"}, class:"home-button" %></p>
  <hr>
  <% end %>
<h3 class="new-section" >Add new movie to your list</h3>

<%= simple_form_for [ @list, @bookmark ] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.button :submit, class: "btn btn-primary" %> <%= link_to "Cancel", lists_path %>
<% end %>

    <%= link_to "Back to home page", lists_path  %>

</div>
