
<div class="container">
  <h1><%= @list.name.upcase %></h1>
    <% @list.bookmarks.each do |bookmark| %>
      <h2><%= bookmark.movie.title %></h2>
      <%=  bookmark.movie.poster_url %>
      <p><%= bookmark.movie.overview %></p>
      <p>Comments:</p>
      <%= bookmark.comment %>
      <p><%= link_to "Delete movie", bookmark_path(bookmark), method: :delete, data: { confirm: "Delete this movie from the list?"} %></p>
    <hr>
<% end %>

    <p><%= link_to "Add movie to list", new_list_bookmark_path(@list)  %></p>
    <%= link_to "Back to home page", lists_path  %>

</div>
