<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="navbar">
  <%# <a href="#home">Home</a>
  <div class="search-container">

  </div> %>
  <div class="submit-container">
    <%= simple_form_for(@list) do |f| %>
          <%= f.input :name, class:"input-size", placeholder:" List name",  label: false %>
          <%= f.submit 'Add to list', class:"submit-list" %>
        <% end %>
        </div>
    </div>

    <%= yield %>
  </body>
</html>
